<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <title>Hello</title>
</head>
<body>
<div class="container">
    <div class="alert alert-primary">
        <h1>Hello {{ esm }} {{ la9ab }}! ✅</h1>
    </div>
</div>
</body>
</html>