{% extends 'layout.html.twig' %}
{% block body %}

    <ol class="list-group">
    {% for todoName, todoDescription in app.session.get('todos') %}
        <li class="list-group-item">
            {{ todoName }} : {{ todoDescription }}
            <a href="{{ path('todo.delete', {'name': todoName}) }}">Delete</a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}